.App{
  font-family: "Barlow Condensed" !important;
}
.WelcomeScreenFooter {
  position: fixed;
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  bottom: 0;
  background-color: rgb(7, 7, 7);
  color: grey;
  text-align: center;
  font-size: 0.7rem;
  font-family: "Abel" ;

}
.LinkToGit{
    text-decoration: none;
    color: rgb(107, 105, 230);
}
/* #myVideo {
  position: fixed;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 1;

} */

